/* Header */
.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: white;
    z-index: 9999;
    border-bottom: 1px solid var(--text-color);
}

.navbar {
    display: flex;
    align-items: center;
    height: 68px;
}

.navbar__logo-link {
    text-decoration: none;
}

.navbar__logo {
    margin-right: 40px;
}

.navbar__logo .navbar__logo-img{
    height: 69px;
}

.navbar__select {
    height: 100%;
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.navbar__category {
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar__category-item {
    height: 100%;
    padding: 0 15px;
    cursor: pointer;
}

.navbar__category-item--active .navbar__category-link,
.navbar__category-item--active .navbar__category-icon,
.navbar__category-link:hover,
.navbar__category-icon:hover {
    color: var(--primary-color);
}

.navbar__category-icon {
    font-size: 1.6rem;
    margin-right: 12px;
    color: rgba(0,0,0,.6);
}

.navbar__category-item,
.navbar__category-link {
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 500;
    color: rgba(0,0,0,.6);
    text-decoration: none;
}

.navbar__category-item,
.navbar__category-link,
.navbar__category-icon {
    display: flex;
    align-items: center;
}

.navbar__category-item:hover .navbar__category-link,
.navbar__category-item:hover .navbar__category-icon,
.navbar__category-link:hover,
.navbar__category-icon:hover {
    color: var(--primary-color);
}

/* Container */
/* Search */
.search {
    position: relative;
    margin-top: 68px;
    width: 100%;
    height: 400px;
    background: url("/Frontend/assets/img/banner_flight.jpg") top center / cover no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search__heading {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    color: var(--white-color);
}

.search__heading-icon {
    font-size: 6rem;
    padding-right: 10px;
}

.search__heading-title {
    font-size: 3rem;
    font-weight: 400;
    padding-left: 10px;
    line-height: 1.6rem;
    transform: translateY(50%);
}

/* -- */
.search__content {
    width: 100%;
    margin-top: 40px;
    padding: 20px 10px;
    border-radius: 4px;
    background-color: var(--white-color);
}

.search-input {
    position: relative;
    display: flex;
    flex-direction: column;
}

.search-input__label {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 6px;
}

.search-input__field {
    margin: 0;
    height: 34px;
    border: 1px solid var(--border-color);
    outline: none;
    cursor: pointer;
    padding-left: 40px;
    font-size: 1.4rem;
    color: var(--text-color);
}

.search__double-arrow {
    position: absolute;
    top: 24px;
    left: -15px;
    width: 30px;
    cursor: pointer;
    padding: 4px;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.search-input_depflight {
    background: url(/Frontend/assets/img/dep_flight.png) no-repeat left center;
    background-position-x: 8px;
}

.search-input_arrflight {
    background: url(/Frontend/assets/img/arr_flight.png) no-repeat left center;
    background-position-x: 8px;
}

.search-date__field {
    margin: 0;
    height: 34px;
    border: 1px solid var(--border-color);
    outline: none;
    cursor: pointer;
    padding: 10px;
    font-size: 1.4rem;
    color: var(--text-color);
    background: url(/Frontend/assets/img/calendar.png) no-repeat right center;
    background-position-x: 94%;
}



.grid__row-search {
    margin-bottom: 10px;
}

.search-input_adult {
    background: url(/Frontend/assets/img/adult.png) no-repeat left center;
    background-position-x: 40px;
}

.search-input_infant {
    background: url(/Frontend/assets/img/infant.png) no-repeat left center;
    background-position-x: 40px;
}

.search-submit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1.4rem;
    transform: translateY(20%);
    padding-right: 20px !important;
}

.search-submit > div {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    line-height: 1.4rem;
    cursor: pointer;
}
.option-checkbox {
    display: flex;
    align-items: center;
}

/* Category plain */
.category-muibox {
    position: relative;
    width: 100%;
    height: 280px;
    background-color: var(--white-color);
}

.muibox-list {
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
}

.muibox-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.muibox-img {
    width: 52px;
    height: 52px;
    position: relative;
    margin-bottom: 40px;
}

.muibox-img::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: var(--black-color);
    position: absolute;
    bottom: -20px;
    right: 0;
    left: 0;
}

.muibox-title {
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 20px;
}

.muibox-desc {
    width: 200px;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.6rem;
}




/* Category deal */
.category-deal {
    width: 100%;
    background-color: #FFF5F7;
    padding: 30px 0;
}

.deal-heading {
    margin: 30px 0;
    text-align: center;
    font-size: 2.6rem;
    color: var(--black-color);
}

.deal-list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.deal-item {
    margin-bottom: 58px;
    position: relative;
    width: 360px;
    height: 220px;
    text-decoration: none;
    border-radius: 4px;
    overflow: hidden;
    transition: .2s ease-in all;
}

.deal-item:hover .deal-item__description {
    height: 70px;
}

.deal-item:hover .deal-item__header {
    /* background-color: rgba(238, 90, 33, .4); */
    background-color: rgba(0, 0, 0, .4);
}

.deal-item:hover {
    box-shadow: 0 2px 8px var(--text-color);
}

.deal-item__img {
    width: 100%;
    height: 100%;
    padding: 0;
}

.deal-item__header {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    transition: .3s ease-in all;
}

.deal-item__heading {
    font-size: 1.4rem;
    font-weight: 400;
    margin: 12px 10px;
    color: var(--white-color);
}

.deal-item__description {
    margin-left: 10px;
    height: 0;
    transition: .3s ease-in all;
}

.deal-item__description-item {
    font-size: 1.2rem;
    color: var(--white-color);
    margin: 4px 10px;
}

/* Category statistic */
.category-statistic {
    width: 100%;
    padding: 30px 0;
    background-color: var(--white-color);
}

.statistic-heading {
    margin: 30px 0;
    text-align: center;
    font-size: 2.6rem;
    color: var(--black-color);
}

.statistic-list {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.statistic-item {
    width: 315px;
    height: 174px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    box-shadow: 0 1px 2px #ccc;
    display: flex;
    list-style: none;
    background-color: var(--white-color);
    padding: 20px;
    pointer-events: none;
}

.statistic-item__icon {
    padding-right: 20px;
    font-size: 3rem;
    color: #2F5898;
}

.statistic-item__heading {
    font-size: 1.8rem;
    font-weight: 800;
    margin-bottom: 8px;
    color: var(--text-color);
}

.statistic-item__description {
    font-size: 1.4rem;
    font-weight: 400;
    color: #858585;
    line-height: 2rem;

}