

/* Container */
/* Search */
.search {
    position: relative;
    margin-top: 68px;
    width: 100%;
    height: 400px;
    background: url("/Frontend/assets/img/banner_flight.jpg") top center / cover no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search__heading {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    color: var(--white-color);
}

.search__heading-icon {
    font-size: 6rem;
    padding-right: 10px;
}

.search__heading-title {
    font-size: 3rem;
    font-weight: 400;
    padding-left: 10px;
    line-height: 1.6rem;
    transform: translateY(50%);
}

/* Category plain */
.category-muibox {
    position: relative;
    width: 100%;
    height: 280px;
    background-color: var(--white-color);
}

.muibox-list {
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
}

.muibox-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.muibox-img {
    width: 52px;
    height: 52px;
    position: relative;
    margin-bottom: 40px;
}

.muibox-img::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: var(--black-color);
    position: absolute;
    bottom: -20px;
    right: 0;
    left: 0;
}

.muibox-title {
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 20px;
}

.muibox-desc {
    width: 200px;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.6rem;
}




/* Category deal */
.category-deal {
    width: 100%;
    background-color: #FFF5F7;
    padding: 30px 0;
}

.deal-heading {
    margin: 30px 0 10px;
    text-align: center;
    font-size: 2.6rem;
    font-weight: 500;
    color: var(--black-color);
}

.deal-list {
    margin-bottom: 30px;
}

.deal-item a{
    display: block;
    padding: 15px 10px;
    background-color: var(--white-color);
    border-radius: 8px;
    margin-top: 20px;
    box-shadow: 0 5px 5px rgb(0 0 0 / 3%);
    transition: .1s linear all ;
}

.deal-item a:hover {
    transform: translateY(-10px);
    box-shadow: 0 5px 5px rgb(0 0 0 / 10%);
}

.deal-item_brand {
    display: flex;
    align-items: center;
}

.deal-item_brand > h4 {
    font-size: 1.2rem;
    font-weight: 400;
}

.deal-item_info {
    margin: 16px 0;
}

.deal-item_title {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
}

.deal-item_title > h2,
.deal-item_title > svg {
    margin-right: 10px;
}

.deal-item_date {
    display: flex;
    color: var(--text-color);
}

.deal-item_date > h3 {
    font-weight: 500;
}

.deal-item_price {
    text-align: right;
}

.deal-item_cost {
    color: var(--text-color);
    font-weight: 400;
    font-size: 1.6rem;
}

.deal-item_sale {
    font-size: 1.8rem;
}

.deal-item_tax {
    font-size: 1.6rem;
    color: var(--text-color);
    font-weight: 400;
    margin-top: 4px;
}


/* Category statistic */
.category-statistic {
    width: 100%;
    padding: 30px 0;
    background-color: var(--white-color);
}

.statistic-heading {
    margin: 30px 0;
    text-align: center;
    font-size: 2.6rem;
    font-weight: 500;
    color: var(--black-color);
}

.statistic-list {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.statistic-item {
    width: 315px;
    height: 174px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    box-shadow: 0 1px 2px #ccc;
    display: flex;
    list-style: none;
    background-color: var(--white-color);
    padding: 20px;
    pointer-events: none;
}

.statistic-item__icon {
    padding-right: 20px;
    font-size: 3rem;
    color: var(--primary-color);
}

.statistic-item__heading {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 8px;
}

.statistic-item__description {
    font-size: 1.4rem;
    font-weight: 400;
    color: #858585;
    line-height: 2rem;

}


/* Footer */
.footer {
    width: 100%;
    padding: 30px;
    /* background-color: var(--primary-color); */
    background-color: black;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
}

.footer-menu__list {
    display: flex;
    list-style: none;
}

.footer-menu__item {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--white-color);
    padding: 10px 22px;
    text-decoration: none;
    position: relative;
}

.footer-menu__item:hover .underline::before,
.footer-menu__item:hover .underline::after {
    width: 30%;
    top: calc(100% - 8px);
    height: 1px;
    background-color: var(--white-color);

}

.footer-menu__copy-right {
    font-size: 1.2rem;
    color: var(--white-color);
    font-weight: 500;
    padding: 10px 22px;
}

.footer-social__list {
    display: flex;
}

.footer-social__item {
    width: 35px;
    height: 35px;
    border: 1px solid var(--white-color);
    border-radius: 50%;
    list-style: none;
    margin: 0 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.footer-social__item:hover {
    background-color: rgba(255, 255, 255, .8);
}

.footer-social__item:hover .footer-social__icon {
    color: var(--black-color);
}

.footer-social__item .footer-social__icon {
    font-size: 1.4rem;
    width: 40px;
    height: 40px;
    color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
